{% extends "base.html" %}
{% block title %}Alterar Senha{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <h2>Alterar Senha para <span class="text-primary">{{ user.username }}</span></h2>
        <div class="card card-body">
            <form method="post" action="{{ url_for('change_password', user_id=user.id) }}">
                <div class="mb-3">
                    <label for="password" class="form-label">Nova Senha</label>
                    <input type="password" class="form-control" id="password" name="password" required minlength="4">
                    <div class="form-text">A senha deve ter no mínimo 4 caracteres.</div>
                </div>
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-success">Salvar Nova Senha</button>
                    <a href="{{ url_for('users') }}" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}